body {
    margin: 0;
    background-color: #000;
}

#canvas-container { position: fixed; width: 100%; height: 100%; }
canvas {
    display: block;
    margin: auto;
}
@media only screen and (orientation:portrait) {
    canvas {
        height: auto;
        width: 100vw;
    }
}
@media only screen and (orientation:landscape) {
    canvas {
        height: 100vh;
        width: auto;
    }
}

/* @media only screen and (max-height: 768px) and (max-width: 432px) {
    #canvas-container, canvas {
        background: #FFF;
        width: 100vw;
        height: auto;
    }
} */
